<h3><strong>商品一覧画面</strong></h3>

<table class="table">
  <thead>
  <tr>
    <th>商品id</th>
    <th>商品名</th>
    <th>税抜き価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </tr>
  </thead>

  <tbody>
  <%# 現状のままだと退会したユーザーは表示されなくなっている %>

  </tbody>
</table>
