<div class="col-md-offset-1 col-md-6">
<h3><strong>登録情報</strong>
<button type="button" class="btn btn-primary">編集する</button>
<button type="button" class="btn btn-primary">パスワードを変更する</button>
</h3>
<table class="table">
  <tbody>
    <tr>
      <th scope="row" >氏名</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">カナ</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">郵便番号</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">住所</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">電話番号</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">メールアドレス</th>
      <td>Jacob</td>
    </tr>
  </tbody>
</table>
<h3><strong>配送先</strong>
<button type="button" class="btn btn-primary">一覧を見る</button>
</h3>
<h3><strong>注文履歴</strong>
<button type="button" class="btn btn-primary">一覧を見る</button>
</h3>
</div>