<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>ECサイト</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if end_user_signed_in? %>  <!-- ユーザーが現在サインインをしているか？　-->
          <!--li><%= link_to ' Home',user_path(current_user),class: 'glyphicon glyphicon-home home' %></li-->
          <li>Home</li> <!--マイページ-->
          <li>Cart</li> <!--カート一覧-->
          <li>Logout</li> <!--ログアウト-->
        <% elsif admin_signed_in? %>
          <li>Order</li> <!--受注一覧-->
          <li>NewItem</li> <!--商品の登録-->
          <li>Logout</li> <!--ログアウト-->
        <% else %>
          <li>signup</li> <!--エンドユーザー会員登録へのリンク-->
          <li>login</li> <!--エンドユーザーログインへのリンク-->
        <% end %>
      </ul>
    </nav>
  </div>
</header>

